<?xml version="1.0"?>
<ruleset name="Coding Standard">
    <description>Coding standard</description>
    <arg name="report" value="full"/>
    <arg value="sp"/>
    <rule ref="PSR2"/>
    <rule ref="PSR12">
        <exclude name="PSR12.Files.FileHeader" />
        <exclude name="PSR12.ControlStructures.ControlStructureSpacing.FirstExpressionLine" />
    </rule>
    <rule ref="Generic.PHP.RequireStrictTypes"/>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="150"/>
            <property name="absoluteLineLimit" value="250"/>
        </properties>
    </rule>
</ruleset>
